# Python
*.pyc
*.pyo
*.pyd
__pycache__/
venv/
env/
*.env

# Flask
instance/
*.db

# IDEs and Editors
.vscode/
.idea/

# OS-specific files
.DS_Store
Thumbs.db

# Logs
*.log

# Configuration files
config.yaml

yolov3.weights